.custom-Navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.custom-container {
  max-width: 95%;
  margin: auto;
}

.footer-custom-container {
  max-width: 100%;
  margin: 1rem 0 0 0;
  position: relative;
  bottom: 0;
  display: none;
}

.custom-header {
  display: flex;
  align-items: center;
}

.header-logo {
  // width: 60.09px;
  height: 94.81px;
  left: 63px;
  top: 50px;
}

.header-title {
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.19);
  text-transform: capitalize;
  font-style: normal;
  font-weight: 500;
  font-size: 29px;
  line-height: 42px;
  padding-left: 10px;
  color: var(--theme-text-color);
  font-family: 'TimeTravel';
}

.custom-navLink {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;
  padding: 0 0 0 1rem;
}

.footer-custom-navLink {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 0 1rem;
}

.header-btn {
  min-width: 8rem;
}

@media only screen and (max-width: 767.98px) {
  .custom-header {
    padding: 1rem;
  }
  .custom-navLink {
    align-items: flex-end;
  }
  .header-logo {
    // width:2rem;
    height: 3.5rem;
  }
  .header-title {
    font-size: 1rem;
  }
  .footer-custom-container {
    display: block;
    padding: 0.5rem;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    background-color: var(--theme-footer-color);
  }
  .mobileview-hidden {
    display: none;
  }
  .custom-footer-row {
    margin-bottom: 90px;
    padding-bottom: 10px;
  }
}
