.custom-modal-logo {
  width: 4rem;
  height: 6rem;
}
.transactioncomp-modal-header {
  border-bottom: 0;
  float: right;
  justify-content: center;
}
.custom-modal-title {
  margin-left: 45%;
}
.transactioncomp-modal-body {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: initial;
  text-align: center;
  font-size: calc(10px + 2vmin);
  padding: 0rem 4.5rem;
  border-bottom: 0;
}
.transaction-modal-btn {
  font-size: 1rem;
  margin-top: 2rem;
  border-radius: 50px;
  display: flex;
  padding: 1rem 2rem;
  justify-content: center;
  align-items: center;
  border: none;
  color: var(--theme-main-text);
  background: var(--theme-transactonloader-btn);
}
